server:
    port: ${SERVER_PORT:8080}
    servlet:
        context-path: /api

spring:
    application:
        name: medix

    sql:
        init:
            # ATUALIZADO: Impede que o data.sql seja executado.
            mode: never

    jpa:
        defer-datasource-initialization: true
        database-platform: org.hibernate.dialect.OracleDialect
        hibernate:
            # ATUALIZADO: Apenas valida se as tabelas existem, sem apagar/criar.
            ddl-auto: validate

        # ATUALIZADO: Desliga os logs do SQL no console
        show-sql: false
        properties:
            hibernate:
                format_sql: false

    datasource:
        # Seus dados de conexão
        url: jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
        username:
        password:
        driver-class-name: oracle.jdbc.driver.OracleDriver

    devtools:
        restart:
            enabled: true

jwt:
    secret: aec3ec1f-53aa-4e82-93e7-702ab0194b80
    expiration: 86400000

logging:
    level:
        # Mantendo WARN para logs do Hibernate e DEBUG para segurança.
        org.hibernate: WARN
        org.springframework.security: DEBUG
        org.springframework.web.filter: DEBUG
        br.com.fiap.medix_api.config: DEBUG
